body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background: white;
}



.start-image {
  height: 508px;
  background:
  url("img/polygon.png") no-repeat center bottom,
  url("img/welcome.png") no-repeat center,
  url("img/photo_main.jpg") no-repeat center top;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

a:hover,
a:focus {
  color: #81b3d2;
}


.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-align: center;

  background-color: white;
}

.site-navigation
 {
  list-style: none;
}

/*.site-navigation a,
.site-navigation a:visited
 {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus
 {
  color: #81b3d2;
}
*/

.link-current {
  color: #766357
}

/*Заголовки*/

.header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}

.header-large {
  font-size: 30px;
  text-align: center;

}
.header-feature {
  line-height: 21px;
  text-align: center;

}
.white-header {
  line-height: 21px;
  color: white;
  text-align: center;
}

.lead {
  background-color: white;
  text-align: center;
}

/*Списки преимуществ*/
.features {
  background-color: white;
  text-align: center;
  list-style: none;
}

.feature1-2 {
  color: white;
  background: #81B3D2;
}

.feature3-5 {
  background-color: #eeeeee;

}

.town-features {
  color: #333333;
  background-color: white;
  list-style: none;
}

.town-feature1 {
  padding-top: 158px;

  background-image: url("img/house-icon.svg");
  background-position: center 60px;
  background-repeat: no-repeat;
}

.town-feature2 {

  background-image: url("img/burger-icon.svg");
  background-position: center 60px;
  background-repeat: no-repeat;
}
.town-feature3 {

  background-image: url("img/souvenir-icon.svg");
  background-position: center 60px;
  background-repeat: no-repeat;
}
/*Бронирование*/
.booking {
  background: white;
  text-align: center;
}
.booking h3 {
  color: white;
  background-color: #766357;
}


.book {
  background-color: white;
  line-height: 26px;
  color: black;
  font-weight: 700;
}

.button {
  color: white;
  font-size: 21px;
  background-color: #81B3D2;

}
.map {
  height: 595px;
  background: url("img/map.jpg") no-repeat top;
}

 /*Список гостиниц 2-я страница*/


.found-menu {
  font-size: 12pt;
  color: black;
  list-style: none;
  font-weight: 400;
}
.found-menu-1 {
  color: #81B3D2;

}

.found-menu-2 {

  color: #cacaca;
  border-bottom: #81B3D2 dashed 1px;
}

 .hotel {
   list-style: none;
   background-color: white;
   \border-collapse: collapse;
 }

 .hotel-unit {
   border-top: #cacaca solid 1px;
   border-bottom: #cacaca solid 1px;
 }

.info-button {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #81B3D2;
}
.info-button a:hover,
.info-button a:focus {
  background-color: #669ec0;
}
.info-button a:visited {
  color: inherit;
}

.book-button {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #766357;
}
.book-button a:hover,
.book-button a:focus {
  background-color: #604e43;
}
.book-button a:visited {
  color: inherit;
}
.rating {
  color: #666666;
  background-color: #F2F2F2;
}

.stars-4 {
  background: url("img/4 stars.png") no-repeat;
  height: 17px;
}
.stars-3 {
  background: url("img/3 stars.png") no-repeat;
  height: 17px;
}
.stars-2 {
  background: url("img/2 stars.png") no-repeat;
  height: 17px;
}


/*Футер*/
.footer {
  background-color: white;
}
.footer-header {
  text-align: left;
}

.footer-link {
  opacity: 0;
}

.social-box {
  list-style: none;
  width: 46px;
  height: 48px;
}
.twitter {
  background: url("img/twitter.svg") no-repeat center bottom;
}

.facebook {

  background: url("img/facebook.svg") no-repeat center;
}

.youtube {

  background: url("img/youtube.svg") no-repeat center;
}

.htmlacademy {
  height: 41px;
  width: 114px;
  background: url("img/logo-htmlacademy.svg") no-repeat center;
}
